.items {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90vh;
}
.item {
  width: 50%;
}
.item.group-a {  
  order: 10;
}
.item.group-b {
  order: 20;
}


.items:before {
  content: "";
  order: 15;
  height: 100vh;
}
@media only screen and (max-width: 400px) {
  .item.group-a, .item.group-b {
    width: 100%;
  }
  .item.group-a {
      order: 10;
  }
  .item.group-b {
      order: 10;
  }
}